
<div id="<%= dom_id diary %>">
  <p>
    <strong>Title:</strong>
    <%= diary.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= diary.text %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= diary.date %>
  </p>

  <p>
    <strong>WrittenBy:</strong>
    <%= diary.writtenbyname %>
  </p>


</div>
