<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= author.age %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= author.sex %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= author.profile %>
  </p>

</div>
